# Class_Object_Types_of_Inheritance

In [1]:
#Myclass.myattribute()

In [2]:
class Phone():
    def make_call(self):
        print("Making Phone Call")
    def make_game(self):
        print("Playing Game")

In [3]:
#self :- when we call a method of this object as myobj.method(a,b),this is automatically converted by python into myclass.method(myobj,a,b) so this is all the special self is about.

In [4]:
p1=Phone()

In [5]:
p1.make_call()

Making Phone Call

In [6]:
p1.make_game()

Playing Game

In [7]:
class Phone():
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("Making a call")
    def make_game(self):
        print("Playing Game")

In [8]:
p2=Phone()

In [9]:
p2.set_color("Blue")

In [10]:
p2.show_color()

'Blue'

In [11]:
p2.set_cost(500)

In [12]:
p2.show_cost()

500

In [13]:
p2.make_call()
p2.make_game()

Making a call
Playing Game

# Constructor

In [14]:
#Basically constructor is to initilized (assign value) to the data members of the class when an object of the class is created.
#In python the __init__() method is called the constructor and is always called when an object is created.

In [15]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def employee_details(self):
        print("Name of the Employee :- ",self.name)
        print("Age of the Employee :-  ",self.age)
        print("Salary of the Employee :- ",self.salary)
        print("Gender of the Employee :- ",self.gender)

In [17]:
p3=Employee("Sam",24,25000,"Male")

In [18]:
p3.employee_details()

Name of the Employee :-  Sam
Age of the Employee :-   24
Salary of the Employee :-  25000
Gender of the Employee :-  Male

# Inheritance

In [19]:
#With inheritance one class can drive the properties of another class

# Single Inheritance

In [20]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
    def show_details(self):
        print("I am a Vehicle")
        print("Mileage of vehicle is : ",self.mileage)
        print("Cost is : ",self.cost)

In [21]:
class Car(Vehicle):
    def show_car(self):
        print("I am a car")

In [23]:
c1=Car(200,120000)

In [24]:
c1.show_details()

I am a Vehicle
Mileage of vehicle is :  200
Cost is :  120000

In [26]:
c1.show_car()

I am a car

# Multiple Inheritance

In [27]:
#In multiple inheritance the child inherits from more than 1 parent class

In [28]:
class Parent1:
    def assign_string_one(self,str1):
        self.str1=str1
    def show_string_one(self):
        return self.str1

In [29]:
class Parent2:
    def assign_string_two(self,str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2

In [34]:
class Drived(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [35]:
d1=Drived()

In [36]:
d1.assign_string_one("One")
d1.assign_string_two("Two")
d1.assign_string_three("Three")

In [38]:
d1.show_string_one()

'One'

In [39]:
d1.show_string_two()

'Two'

In [40]:
d1.show_string_three()

'Three'

# Hybrid Inheritance

In [3]:
class Parent1:
    pass
class Child1(Parent1):
    #def show_detail()
    pass
class Child2(Parent1):
    pass
class Child3(Parent1):
    pass

In [4]:
#Modules

# Date Module

In [6]:
#%a
import datetime

In [9]:
x=datetime.datetime.now()

In [10]:
print(x)

2021-11-19 18:11:06.894006

In [12]:
#%a
#it returns weekday in short version

In [13]:
x.strftime("%a")

'Fri'

In [14]:
#%A
#it returns full version of weekday

In [16]:
x.strftime("%A")

'Friday'

In [17]:
#%w
#it returns weekday as number 0-6

In [18]:
x.strftime("%w")#0-Sunday,1-Monday,2-tuesday....

'5'

In [19]:
#%d
#it returns day of month 01-31

In [20]:
x.strftime("%d")

'19'

In [21]:
#%b
#it returns month name in a short version

In [22]:
x.strftime("%b")

'Nov'

In [23]:
#%B
#It returns a month name full version

In [24]:
x.strftime("%B")

'November'

In [25]:
#%m
#It returns month as a number 1- 12

In [26]:
x.strftime("%m")

'11'

In [27]:
#%y
#it returns year short version

In [28]:
x.strftime("%y")

'21'

In [29]:
#%Y
#it returns year full version

In [31]:
x.strftime("%Y")

'2021'

In [32]:
#%H
#it returns hour 00-23

In [33]:
x.strftime("%H")

'18'

In [34]:
#%I
#it returns hours 00-12

In [35]:
x.strftime("%I")

'06'

In [36]:
#%p
#it returns AM/PM

In [37]:
x.strftime("%p")

'PM'

In [38]:
#%M
#it returns minutes

In [40]:
x.strftime("%M")

'11'

In [42]:
#%s
#it returns a second

In [45]:
x.strftime("%S")

'06'

In [46]:
#%f
#it returns microsecond

In [47]:
x.strftime("%f")

'894006'

In [55]:
#%U
#it returns number of year ,sunday as the first day of a week 00-53

In [56]:
x.strftime("%U")

'46'

In [57]:
#%W
#it returns number of year , Monday as the first day

In [58]:
x.strftime("%W")

'46'

In [59]:
#%c
#it returns local version of date and time

In [60]:
x.strftime("%c")

'Fri Nov 19 18:11:06 2021'

In [61]:
#%x
#it return local version of date

In [64]:
x.strftime("%x")

'11/19/21'

# CMath Module

In [65]:
import cmath

# acos()

In [66]:
#it returns the arc cosine of x

In [67]:
print(cmath.acos(2+2j))

(0.8165471820968505-1.7343245214879666j)

# acosh(x)

In [68]:
#it retuns the hyperbolic arc cosine of x

In [69]:
cmath.acosh(2+3j)

(1.9833870299165355+1.0001435424737972j)

# asin(x)

In [70]:
#it returns the arc sin of x

In [72]:
cmath.asin(2+3j)

(0.5706527843210994+1.9833870299165355j)

# asinh(x)

In [74]:
cmath.asinh(2+3j)
#it returns the arc of sin hyperbolic value

(1.9686379257930964+0.9646585044076028j)

# atanh(x)

In [75]:
#it return the arc of tan hyperbolic x

In [76]:
cmath.atanh(2+3j)

(0.14694666622552977+1.3389725222944935j)

# atanh(x)

In [77]:
#it returns the arc of tan x

In [78]:
cmath.atan(2+3j)

(1.4099210495965755+0.22907268296853878j)

# cos(x)

In [79]:
#it returns the cosine of x

In [81]:
cmath.cos(2+3j)

(-4.189625690968807-9.109227893755337j)

# cosh(x)

In [82]:
#it returns the hyperbolic cosine of x

In [83]:
cmath.cosh(2+3j)

(-3.7245455049153224+0.5118225699873845j)

# EXP(x)

In [84]:
#it returns the value of e^x where e is a euler's number e=2.71

In [85]:
cmath.exp(3)

(20.085536923187668+0j)

# isclose(x)

In [86]:
#it check whether two values are close or not

In [89]:
cmath.isclose((10+5j),(10+5j))

True

In [90]:
cmath.isclose((10+5j),(10.01+5j))

False