In [1]:
class Phone:
    def make_call(self):
        print("Making a call")
    def make_game(self):
        print("Playing Game")
    #def hello(self,a,b):
        #return self.a+self.b

In [2]:
a=Phone()

In [4]:
a.make_call()

Making a call

In [5]:
a.make_game()

Playing Game

In [14]:
class Phone:
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("Making a call")
    def make_game(self):
        print("Playing Game")

In [15]:
ab=Phone()

In [16]:
ab.set_color("red")

In [17]:
ab.set_cost(1000)

In [18]:
ab.show_color()

'red'

In [19]:
ab.show_cost()

1000

In [20]:
ab.make_call()

Making a call

In [21]:
ab.make_game()

Playing Game

In [25]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def employee_details(self):
        print("Employee Name :- ",self.name)
        print("Employee Age :- ",self.age)
        print("Employee Salary :- ",self.salary)
        print("Employee Gender :- ",self.gender)

In [26]:
cd=Employee("Rohit",56,100000,"Male")

In [27]:
cd.employee_details()

Employee Name :-  Rohit
Employee Age :-  56
Employee Salary :-  100000
Employee Gender :-  Male

# Inheritance

# Single Inheritance

In [28]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
    def show_details(self):
        print("I am a vehicle")
        print("Mileage of vehicle is :- ",self.mileage)
        print("Cost of Vehicle is :- ",self.cost)

In [31]:
v1=Vehicle(60,70)

In [32]:
v1.show_details()

I am a vehicle
Mileage of vehicle is :-  60
Cost of Vehicle is :-  70

In [33]:
class Car(Vehicle):
    def show_car(self):
        print("I am a car")

In [35]:
v2=Car(80,1000)

In [37]:
v2.show_details()

I am a vehicle
Mileage of vehicle is :-  80
Cost of Vehicle is :-  1000

In [38]:
v2.show_car()

I am a car

# Multiple Inheritance

In [1]:
class Parent1:
    def assign_string_one(self,str1):
        self.str1=str1
    def show_string_one(self):
        return self.str1
class Parent2:
    def assign_string_two(self,str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2
class Drived(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [3]:
d1=Drived()

In [4]:
d1.assign_string_one("str1")
d1.assign_string_three("str2")
d1.assign_string_two("str2")

In [6]:
d1.show_string_one()

'str1'

In [7]:
d1.show_string_two()

'str2'

In [8]:
d1.show_string_three()

'str2'

# Multi-Level Inheritance

In [9]:
class Parent1:
    def assign_name(self,name):
        self.name=name
    def show_name(self):
        return self.name
class Child1(Parent1):
    def assign_age(self,age):
        self.age=age
    def show_age(self):
        return self.age
class Child2(Child1):
    def assign_gender(self,gender):
        self.gender=gender
    def show_gender(self):
        return self.gender
class Child3(Child2):
    def assign_salary(self,salary):
        self.salary=salary
    def show_salary(self):
        return self.salary

In [10]:
c3=Child3()

In [11]:
c3.assign_age(34)
c3.assign_gender("Male")
c3.assign_name("Sanjeev")
c3.assign_salary(50000)

In [13]:
c3.show_age()

34

In [14]:
c3.show_gender()

'Male'

In [15]:
c3.show_name()

'Sanjeev'

In [16]:
c3.show_salary()

50000

# Hierarchical inheritance

In [35]:
class Parent1:
    def assign_data(self,age,serial_no):
        self.age=age
        self.serial_no=serial_no
    def show_details(self):
        print("My age :- ",self.age)
        print("My Serial_No is :- ",self.serial_no)
class Child1(Parent1):
    def assign_data1(self,gender,emp_id):
        self.gender=gender
        self.emp_id=emp_id
    def show_details1(self):
        print("My Gender :- ",self.gender)
        print("My Employee ID :- ",self.emp_id)
class Child2(Parent1):
    def assign_data2(self,name,email):
        self.name=name
        self.email=email
    def show_details2(self):
        print("My Name is :- ",self.name)
        print("My Email-Id is :- ",self.email)
class Child3(Parent1):
    def assign_data3(self,location,phone_number):
        self.location=location
        self.phone_number=phone_number
    def show_details3(self):
        print("My Location :-",self.location)
        print("My Phone Number is :- ",self.phone_number)

In [36]:
c1=Child1()

In [37]:
c1.assign_data(34,123)

In [38]:
c1.assign_data1("Male",190900)

In [39]:
c1.show_details()

My age :-  34
My Serial_No is :-  123

In [40]:
c1.show_details1()

My Gender :-  Male
My Employee ID :-  190900

In [41]:
c2=Child2()

In [42]:
c2.assign_data2("Sanjeev","sp6406919@gmail.com")

In [45]:
c2.show_details2()

My Name is :-  Sanjeev
My Email-Id is :-  sp6406919@gmail.com

In [46]:
c2.assign_data(34,190)

In [47]:
c2.show_details()

My age :-  34
My Serial_No is :-  190

In [26]:
c3=Child3()

In [48]:
c3.assign_data3("Roorkee",7909845679)

In [49]:
c3.assign_data(56,190)

In [50]:
c3.show_details4()

My Location :- Roorkee
My Phone Number is :-  7909845679

In [51]:
c3.show_details()

My age :-  56
My Serial_No is :-  190

# Hybrid Inheritance

In [56]:
class Parent1:
    def show_details1(self):
        print("Parent Class 1")
class Child1(Parent1):
    def show_details2(self):
        print("Child Class 1")
class Child2(Parent1):
    def show_details3(self):
        print("Child Class 2")
class Grand_Child(Child1,Child2):
    def show_details4(self):
        print("Grand Child Class 1")

In [57]:
gd=Grand_Child()

In [60]:
gd.show_details1()

Parent Class 1

In [61]:
gd.show_details2()

Child Class 1

In [62]:
gd.show_details3()

Child Class 2

In [63]:
gd.show_details4()

Grand Child Class 1