# Pandas

In [1]:
#singal dim :- series object
#multi dim :- data

In [2]:
#Series

In [3]:
import pandas as pd

In [4]:
s1=pd.Series([1,2,3,4,5])

In [5]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [7]:
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
a=pd.Series({'a':1,'b':2,'c':3,'d':4,'e':5})

In [9]:
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
s1=pd.Series([2,3,4,5,6])

In [11]:
s2=pd.Series([10,20,30,40,50])

In [12]:
type(s1)

pandas.core.series.Series

In [13]:
type(s2)

pandas.core.series.Series

In [14]:
s1+s2

0    12
1    23
2    34
3    45
4    56
dtype: int64

In [15]:
s1-5

0   -3
1   -2
2   -1
3    0
4    1
dtype: int64

In [16]:
s2-5

0     5
1    15
2    25
3    35
4    45
dtype: int64

In [18]:
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [19]:
#Dataframe

In [ ]:
    Name Marks
0    Bob  76
1    Som  25
1    Anne 92

In [46]:
df=pd.DataFrame({"Name":['Bob','Som','Anne'],"Marks":[76,25,92]})

In [21]:
df

   Name  Marks
0   Bob     76
1   Som     25
2  Anne     92

In [25]:
df.head()#728*28

   Name  Marks
0   Bob     76
1   Som     25
2  Anne     92

In [26]:
df.describe()

           Marks
count   3.000000
mean   64.333333
std    34.990475
min    25.000000
25%    50.500000
50%    76.000000
75%    84.000000
max    92.000000

In [27]:
type(df["Marks"])

pandas.core.series.Series

In [28]:
df["Name"]

0     Bob
1     Som
2    Anne
Name: Name, dtype: object

In [29]:
df["Marks"]

0    76
1    25
2    92
Name: Marks, dtype: int64

In [31]:
df.tail(3)

   Name  Marks
0   Bob     76
1   Som     25
2  Anne     92

In [33]:
df.shape

(3, 2)

In [34]:
a="abcdefgh"

In [35]:
a[3:6]

'def'

In [38]:
df.iloc[0:3,0:1]

   Name
0   Bob
1   Som
2  Anne

In [40]:
df.loc[0:3,"Name"]

0     Bob
1     Som
2    Anne
Name: Name, dtype: object

In [ ]:
a(hours),b(marks),c(age)
4         67%      19
7         89%      20
9        95%       19

In [44]:
df.drop("Marks",axis=1,inplace=True)

In [47]:
df

   Name  Marks
0   Bob     76
1   Som     25
2  Anne     92

In [48]:
df["Marks"].mean()

64.33333333333333

In [49]:
df["Marks"].max()

92

In [50]:
df["Marks"].min()

25

In [51]:
df["Marks"].value_counts()

76    1
25    1
92    1
Name: Marks, dtype: int64

In [52]:
df=pd.read_csv("IRIS.csv")

In [53]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [54]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [55]:
df.head(6)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [56]:
df.head(50)

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

In [57]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [58]:
df.tail(10)

     sepal_length  sepal_width  petal_length  petal_width         species
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [59]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [63]:
df["sepal_length"].mean()

5.843333333333334

In [64]:
df["sepal_length"].max()

7.9

In [65]:
df["sepal_length"].min()

4.3

In [66]:
df["sepal_length"].median()

5.8

In [67]:
df.drop("petal_width",axis=1)

     sepal_length  sepal_width  petal_length         species
0             5.1          3.5           1.4     Iris-setosa
1             4.9          3.0           1.4     Iris-setosa
2             4.7          3.2           1.3     Iris-setosa
3             4.6          3.1           1.5     Iris-setosa
4             5.0          3.6           1.4     Iris-setosa
..            ...          ...           ...             ...
145           6.7          3.0           5.2  Iris-virginica
146           6.3          2.5           5.0  Iris-virginica
147           6.5          3.0           5.2  Iris-virginica
148           6.2          3.4           5.4  Iris-virginica
149           5.9          3.0           5.1  Iris-virginica

[150 rows x 4 columns]

In [68]:
df["species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [71]:
df.replace({"Iris-setosa":0,"Iris-versicolor":1,"Iris-virginica":2},inplace=True)

In [72]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [73]:
df.shape

(150, 5)